
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_xxx
AWS_S3_BUCKET_NAME="xxx"
AWS_REGION=xxx
AWS_ACCESS_KEY_ID="xxx"
AWS_SECRET_ACCESS_KEY="xxx"
DB_PASSWORD=xxx
USER_PASSWORD=xxx
AWS_BUCKET_DOMAIN=xxx
